<%- include('../partials/header') %>


<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
          });
        
          // Or with jQuery
        
          $(document).ready(function(){
            $('select').formSelect();
          });
         </script>

<h5><%= title %></h5>
<table>
<thead>
 <tr>

   <th class="s4 l4 teal"><h5 class="blue-grey-text text-lighten-5">Workout </th>
      <th class="s4 l4 teal"><h5 class="blue-grey-text text-lighten-5">Reps</th>
         <th class="s4 l4 teal"><h5 class="blue-grey-text text-lighten-5">Sets</th>
            <th class="s4 l4 teal"><h5 class="blue-grey-text text-lighten-5">Timer Duration</th></tr><br>
            </thead>
           
               <% if(workouts){%>
        <% workouts.forEach(function(w) { %>
         
      <td class="s4 l4 amber lighten-4"> <%=w.workout%> </td> 
             <td class="s4 l4 amber lighten-5"> <%=w.reps%> </td> 
                <td class="s4 l4 amber lighten-4"> <%=w.sets%> </td> 
                   <td class="s4 l4 amber lighten-5"> <%=w.duration%> </td> 
        <form action="/workouts/<%= w._id %>?_method=DELETE" method="POST">
         <td><button class="delete "type="submit">X</button></td>
      </tr> </tbody>
       </form>
      
      <% })}; %>
    
   </table>
  <form method="POST" action="/workouts/workOutSubmit">
    
      <div class="input-field">
            <select name="workout" class="browser-default">
                    <option value="Push-Ups">Push Ups</option>
                    <option value="Sit-Ups">Sit Ups</option>
                    <option value="Jumping Jacks">Jacking Jacks</option>
                    <option value="Leg-Ups">Leg ups</option>
                    <option value="Curls">Curls</option>
                    <option value="Jog">Jog</option>
                    <option value="Jump Rope">Jump Rope</option>
                    <option value="Knee-Highs">Knee Highs</option>
                  </select></div><br>
                  <div class="input-field">
                     <input type="number" name="reps" placeholder="How Many Reps?">
                  </div> 
                  <div class="input-field">
               <input type="number" placeholder="How Many Sets?" name="sets">
            </div>
          
            <div class="input-field">
               <input type="text" name="duration" placeholder="How Long?(Minutes)">
            </div> 
            <div class="input-field">
               <input type="submit">
            </div>
  </form>
 
  
<%- include('../partials/footer') %>