<%- include('../partials/header') %>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
          });
        
          // Or with jQuery
        
          $(document).ready(function(){
            $('select').formSelect();
          });
         </script>

<h5><%= title %></h5>
<table>
    <thead>
     <tr>
<div class="row">
    <th class="s4 l4 teal"><h5 class="blue-grey-text text-lighten-5">Day</h5></th>
    <th class="s4 l4 teal"><h5 class="blue-grey-text text-lighten-5">Meal-Type</h5></th>
    <th class="s4 l4 teal"><h5 class="blue-grey-text text-lighten-5">Meal</h5></th>
    <th class="s4 l4 teal"><h5 class="blue-grey-text text-lighten-5">Calories</h5></th><br>
  </thead>   
    <% if(meals){%>
        <% meals.forEach(function(m) { %>
          <td class="s4 l4 amber lighten-4"> <%=m.day%> </td>  
          <td class="s4 l4 amber lighten-5">  <%=m.mealType%> </td> 
          <td class="s4 l4 amber lighten-4">  <%=m.meal%>  </td> 
          <td class="s4 l4 amber lighten-5"> <%=m.calories%> </td> 
        <form action="/meals/<%= m._id %>?_method=DELETE" method="POST">
         <td><button class="delete" type="submit">X</button></td> 
        </tr> </tbody>
        </form>
       <% })}; %> 
</table>
  <form method="POST" action="/meals/mealSubmit">
      <label class="deep-purple-text lighten-2">Day of Week: </label>
      <div class="input-field">
            <select name="day" class="browser-default">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tueday">Tueday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Satday">Satuday</option>
                  </select></div><br>

<label class="deep-purple-text lighten-2">Meal Type:</label>
                  <div class="input-field">
                  <select name="mealType" class="browser-default"> 
                      <option value="breakfast">Breakfast</option>
                      <option value="lunch">Lunch</option>
                      <option value="dinner">Dinner</option>
                                        </select>
                           </div>
                           <input type="text" name="meal" placeholder="Enter Meal">
                            <input type="number" name="calories" placeholder="Enter Calories">
                       
                            <input type="submit">
      
  </form>


            
<%- include('../partials/footer') %>