<%- include('../partials/header') %>
<script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
          });
        
          // Or with jQuery
        
          $(document).ready(function(){
            $('select').formSelect();
          });
         </script>

<h5><%= title %></h5>
 
<div class="row">
        <div class="col s3 teal"><h5 class="blue-grey-text text-lighten-5">Day</h5></div>
        <div class="col s3 teal"><h5 class="blue-grey-text text-lighten-5">Meal-Type</h5></div>
        <div class="col s3 teal"><h5 class="blue-grey-text text-lighten-5">Meal</h5></div>
        <div class="col s3 teal"><h5 class="blue-grey-text text-lighten-5">Calories</h5></div><br>
        <% if(meals){%>
        <% meals.forEach(function(m) { %>
        <div class="col s3 amber lighten-4"> <td> <%=m.day%> </td>  </div>
        <div class="col s3 amber lighten-5"> <td> <%=m.mealType%> </td> </div>
        <div class="col s3 amber lighten-4"> <td> <%=m.meal%>  </td> </div>
        <div class="col s3 amber lighten-5"> <td> <%=m.calories%> </td> </div>
      <% })}; %> </div> 

  <form method="POST" action="/meals/mealSubmit">
      <label>Day of Week: </label>
      <div class="input-field">
            <select name="day" class="browser-default">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tueday">Tueday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Satday">Satuday</option>
                  </select></div><br>

<label>Meal Type:</label>
                  <div class="input-field">
                  <select name="mealType" class="browser-default"> 
                      <option value="breakfast">Breakfast</option>
                      <option value="lunch">Lunch</option>
                      <option value="dinner">Dinner</option>
                                        </select>
                           </div>

                            <input type="number" name="calories" placeholder="Enter Calories">
                            <input type="text" name="meal" placeholder="Enter Meal">
                            <input type="submit">
      
  </form>


            
<%- include('../partials/footer') %>